Client's goal: From the given dataset parse Profile column and select person's First Name and Last Name and impute them
in appropriately named column.

Follow requirements:
               1. Capitalize first and last names
               2. Skip middle names, if exists
               3. If first and last names are one word, add '-' to Last Name to ignal client to check manually
               4. Remove non-alpha characters from the first and last names

In [2]:
import pandas as pd
import json

file = pd.read_excel('file.xlsx')
file

,Key,id,Profile,Degree,First Name,Middle Name,Last Name
0,2800,id.22015926,https://www.linkedin.com/in/mark-stokes-8464587,-1,,,
1,2801,id.127028045,https://www.linkedin.com/in/dr-michael-dunniga...,-1,,,
2,2809,id.3418932,https://www.linkedin.com/in/ralph-pearce-67018a1,-1,,,
3,2810,id.64070525,https://www.linkedin.com/in/david-mallgrave-a2...,-1,,,
4,2827,id.611107804,https://www.linkedin.com/in/alex-witarsa-4247a...,-1,,,
5,2830,id.467403511,https://www.linkedin.com/in/lewis-hill-187648110,-1,,,
6,3377,id.68161810,https://www.linkedin.com/in/varghese-raju-5aa9...,-1,,,
7,3378,id.82144107,https://www.linkedin.com/in/teresa-m-tinney-12...,-1,,,
8,3485,id.89676287,https://www.linkedin.com/in/hollywoodsmiles,-1,,,
9,3488,id.478622223,https://www.linkedin.com/in/patrick-skulemowsk...,-1,,,
10,3489,id.66926598,https://www.linkedin.com/in/lisa-christian-806...,-1,,,
11,3490,id.15652073,https://www.linkedin.com/in/joan-wells-ab52a95,-1,,,
12,3491,id.28651290,https://www.linkedin.com/in/aliasgar-mogri-736...,-1,,,
13,3493,id.21220639,https://www.linkedin.com/in/keith-johnson-5671347,-1,,,
14,1963,id.6005745,https://www.linkedin.com/in/pauldeweese/,3rd,Paul,,Deweese

In [3]:
# importng file
file = pd.read_excel('file.xlsx')

# selecting Profile column from the spreadsheet
temp_list = list(file['Profile'])

# splitting url-string based on 'in/' pattern
temp_list1 = []
for line in temp_list:
    temp_list1.append(line.split('in/'))

# removing 'dr' elements
f_name = []
last_name = []
for line in temp_list1:
    temp = line[1].split('-')
    for i in temp:
        if i == 'dr':
            temp.remove(i)
    
     # replacing missing last name with '-'
    if len(temp) == 1:
        temp.append('-')
    f_name.append(temp[0])
    
    # skipping middle name
    if len(temp[1]) == 1 and (temp[1] is not '-'):
        last_name.append(temp[2])
    else:
        last_name.append(temp[1])

# removing any non-alpha characters from the first name list
first_name = []
for i in f_name:
    v = ''.join(n for n in i if n.isalpha())
    first_name.append(v)

# Converting first letters into Capital letter
first_name = [i.capitalize() for i in first_name]
last_name = [i.capitalize() for i in last_name]
# making copy of original file
new_file = file

# setting First Name column and Last Name column to first_name and last_nae lists
new_file['First Name'] = first_name
new_file['Last Name'] = last_name

<>:27: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:27: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\rakhi\AppData\Local\Temp/ipykernel_10032/1870120282.py:27: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if len(temp[1]) == 1 and (temp[1] is not '-'):

In [4]:
new_file

,Key,id,Profile,Degree,First Name,Middle Name,Last Name
0,2800,id.22015926,https://www.linkedin.com/in/mark-stokes-8464587,-1,Mark,,Stokes
1,2801,id.127028045,https://www.linkedin.com/in/dr-michael-dunniga...,-1,Michael,,Dunnigan
2,2809,id.3418932,https://www.linkedin.com/in/ralph-pearce-67018a1,-1,Ralph,,Pearce
3,2810,id.64070525,https://www.linkedin.com/in/david-mallgrave-a2...,-1,David,,Mallgrave
4,2827,id.611107804,https://www.linkedin.com/in/alex-witarsa-4247a...,-1,Alex,,Witarsa
5,2830,id.467403511,https://www.linkedin.com/in/lewis-hill-187648110,-1,Lewis,,Hill
6,3377,id.68161810,https://www.linkedin.com/in/varghese-raju-5aa9...,-1,Varghese,,Raju
7,3378,id.82144107,https://www.linkedin.com/in/teresa-m-tinney-12...,-1,Teresa,,Tinney
8,3485,id.89676287,https://www.linkedin.com/in/hollywoodsmiles,-1,Hollywoodsmiles,,-
9,3488,id.478622223,https://www.linkedin.com/in/patrick-skulemowsk...,-1,Patrick,,Skulemowski
10,3489,id.66926598,https://www.linkedin.com/in/lisa-christian-806...,-1,Lisa,,Christian
11,3490,id.15652073,https://www.linkedin.com/in/joan-wells-ab52a95,-1,Joan,,Wells
12,3491,id.28651290,https://www.linkedin.com/in/aliasgar-mogri-736...,-1,Aliasgar,,Mogri
13,3493,id.21220639,https://www.linkedin.com/in/keith-johnson-5671347,-1,Keith,,Johnson
14,1963,id.6005745,https://www.linkedin.com/in/pauldeweese/,3rd,Pauldeweese,,-

In [ ]:
e